*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@font-face {
    font-family: 'Benguiat';
    src: url(fontes/Benguiat\ Bold.ttf);
}

body {
    background-color: #0C0102;
    color: rgb(255, 255, 255, 0.9);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

button {
    font-family: poppins, sans-serif;
    cursor: pointer;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section {
    width: 100%;
    display: flex; 
    padding: 7vw;
}

h2{
            font-size: 40px;
            font-weight: 500;
        }        

button {
            background-color: transparent;
            color: white;
            font-size: 16px;
            display: flex;
            gap: 12px;
            border: none;
            outline: none;
            padding: 16px 0px;
            border-bottom: 1px solid white;

            transition: 
                box-shadow 0.5s ease,
                transform 0.5s ease;
                &:hover {
                box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
                transform: translateY(-2px);
                }
        }

.bgMonstro{
    background-image: url('imagens/bg-sec2.webp');
    background-position: center;
    background-size: cover;
}

ul{
    list-style-type: none;
}


.hero {
    background-image: url('imagens/hero.webp');
    background-position: 50% 0%;
    background-size: cover;  
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 7vw 7vw 7vw;

    .esquerda, .direita {
        width: 30%;
    }

    .esquerda {
        h3 {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 7px;
        }

        h1 {
            font-family: 'Benguiat', serif;
            font-size: 3.7vw;
            font-weight: 100;
        }
    }

    .direita {
        display: flex;
        flex-direction: column;
        align-items: end;
        p {
            font-size: 2vw;
            color: rgb(255, 255, 255, 0.7);
            margin-bottom: 20px;
            text-align: end;
        }
    }
}

.secaocCidade{
    flex-direction: column;

    .titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    }

    .cards {
        margin-top: 52px;
        display: flex;
        justify-content: space-between;

        .card{
            background-image: url(imagens/card1.webp);
            width: 32%;
            aspect-ratio: 16/9;
            background-size: cover;
            background-position: center;
            display: flex; 
            align-items: end;
            justify-content: space-between;
            padding: 20px;
            border-radius: 20px;

            transition: 
                box-shadow 0.5s ease,
                transform 0.5s ease;
                &:hover {
                box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
                transform: translateY(-5px);
                cursor: pointer;
                }
        }

        .card:nth-child(2){
            background-image: url(imagens/card2.webp);
        }
        .card:nth-child(3){
            background-image: url(imagens/card3.webp);
        }
    }

}

.secaoDepoimentos{
    flex-direction: column;

    .logotipos{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .depoimentos{
        margin-top: 62px;
        display: flex;
        justify-content: space-between;

        .depoimento{
            width: 31%;
        }
    }
}

.secaoObrigado {
    flex-direction: column;
    align-items: center;

    h2{
        margin-bottom: 40px;
    }

    ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imagens/bg-footer.webp');
    background-size: cover;
    background-position: center;

    .conteudoFooter {
        display: flex;
        width: 100%;
        padding: 7vw;

        .logoFooter {
            width: 30%;
            h3 {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 7px;
            }

            h2 {
            font-family: 'Benguiat', serif;
            font-size: 3.7vw;
            font-weight: 100;
            }
        }

        .secoesFooter {
            display: flex;
            flex: 1;
            justify-content: end;
            gap: 6%;
            align-items: end;

            h3{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 12px;
            }

            .social {

                ul{
                    display: flex;
                    gap: 20px;
                    cursor: pointer;
                }
            }

            .institucional{

                ul{
                    cursor: pointer;
                }
            }
        }
    }

    .logotiposFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 4vw;
    }

    .textoInfinito {
        width: max-content;
        display: flex;

        h3 {
            color: darkgrey;
            font-size: 12vw;
            font-family: 'Benguiat', sans-serif;
            mix-blend-mode: color-dodge;
            animation: textoInfinito 10s infinite linear;
            padding-left: 8vw;
        }
    }
}


@keyframes textoInfinito {
    100% {
        transform: translateX(-100%);
    }
}


/* MEDIA QUERIES */

@media (max-width: 1500px) {
    .secaocCidade{
        padding: 4vw;
    }
}

@media (max-width: 1400px) {
    .secaocCidade .cards .card {
        flex-direction: column;
        align-items: start;
        justify-content: end;
    }
}

@media (max-width: 600px) {
    section {
        padding: 4vw;
    }
        header {
            h2 {
                font-size: 6vw;
                font-weight: 500;
            }
        }

    .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4vw 4vw 4vw;

    .esquerda, .direita {
        width: 100%;
    }

    .esquerda {
        margin-top: 160px;

        h1 {
            font-size: 8vw;
        }
    }

    .direita {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;

        p {
            font-size: 4vw;
            text-align: center;
        }

        button {
            justify-content: center;
        }
    }
}

    .secaocCidade .titulo {
        display: flex;
        align-items: center;
        gap: 20px;

        h2{
            font-size: 6vw;
        }
        
    }

    .secaocCidade .cards {
        flex-direction: column;
        gap: 40px;
    }

    .secaocCidade .cards .card {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        
    }

    .secaoDepoimentos .depoimentos {
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }

    .secaoDepoimentos .depoimentos .depoimento {
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }

    .secaoObrigado {
        h2 {
            margin-top: 8vw;
            text-align: center;
            font-size: 6vw;
        }
        
        ul {
            overflow: hidden;
            width: max-content;
            display: flex;
            gap: 20px;
            padding-left: 18vw;
            animation: scroll 19s linear infinite;
        }
    }
    @keyframes scroll {
        100% {
            transform: translateX(-77%);
        }
    }

    footer .conteudoFooter {
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .logoFooter {
            width: 100%;
            text-align: center;
            h3 {
                justify-content: center;
                font-size: 4vw;
            }

            h2 {
                justify-content: center;
                font-size: 8vw;
            }
        }

        .secoesFooter {
            justify-content: center;
            gap: 20px;
        }
    }

    footer .logotiposFooter {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 4vw 4vw 4vw;
        
    }
}